@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");

* {
  padding: 0;
  margin: 0;
  border-box: box-sizing;
}

:root {
  --primary-color: #321d7c;
  --secondary-color: #a653f0;
  --text-color: #141b41;
  --white: #e9f1f7;
  --sleek-color: #a653f0;
  --dark: #131b23;

  --primary: #1976d2;
  --primary-dark: #0d47a1;
  --secondary: #5c6bc0;
  --accent: #00bcd4;
  --grey-light: #f5f7fa;
  --grey: #e1e5ee;
  --grey-dark: #6c757d;
  --text: #333;
  --text-light: #666;
  --white: #fff;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --radius: 8px;
}

.dark {
  background-color: var(--primary-color);
  color: var(--white);
}

body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: var(--text-color);

  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.71)),
      url("./assets/svgs/auth-login-background.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: overlay;

    .auth-form {
      padding: 4rem;
      width: 100%;
      max-width: 400px;
      border-radius: 10px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      background: white;
      text-align: center;

      .auth-card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      .auth-button {
        width: 100%;
        background: var(--primary-color);
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background: var(--secondary-color);
        }
      }

      .redirect-text {
        margin-top: 10px;
        font-size: 14px;
        text-decoration: none;

        .external-link {
          colour: var(--sleek-color);
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }

  .table-empty-state {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .empty-state-text {
      font-weight: bold;
    }
  }
}
